# Compilação C e Binários
bin/
build/
output/
*.out
*.exe
*.o
*.a
*.so
*.dylib

# VS Code
.vscode/

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/

# Sistema Operacional
.DS_Store
Thumbs.db

# Jekyll / GitHub Pages
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

